<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<title></title>

	<style>
		html {
			font-size: 62.5%;
			height: 100%;
		}

		body {
			margin: 0;
			height: 100%;
			font-size: 100%;
			font-family: microsoft yahei;
			background-color: rgb(247, 248, 243);
		}

		.download {
			height: 100%;
		}

		.download .wx {
			height: 100%;
			display: none;
		}

		.download .wx img {
			width: 100%;
		}

		.download .ios-wx p {
			text-align: center;
			font-size: 2rem;
			line-height: 3rem;
			color: #FF5C1E;
		}
	</style>
	<script type="text/javascript" charset="utf-8" src="download.min.js"></script>
</head>

<body>
	<div class="download">
		<div class="wx android-wx">
			<img src="" alt="" />
		</div>
		<div class="wx ios-wx">
			<img src="" alt="" />
		</div>
		<div class="wx winphone">
			<img src="" alt="" />
		</div>
	</div>
</body>
<script type="text/javascript">download.start()</script>
</html>